<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ashtray</title>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
</head>

<body>
  <div id="app">
    <div class="grid-hero">
      <div class="container grid-xl">
        <header class="navbar py-2 px-2">
          <section class="navbar-section">
            <a href="/" class="navbar-brand d-flex">
              <img src="/images/logo.svg" width="48" alt="Ashtray">
              <div class="pt-2 ml-2 h4 text-normal text-dark"> Ashtray </div>
            </a>
          </section>
          <section class="navbar-section">
            <%= if @current_user  do %>
            <%= link "Log Out", to: Routes.auth_path(@conn, :delete), method: :delete, class: "btn btn-sm btn-link text-error text-uppercase mr-2" %>
              <figure class="avatar ml-2">
                <img src="<%= @current_user.avatar %>" alt="" />
              </figure>
            <a href="https://github.com/<%= @current_user.handle %>" target="_blank">
              <span class="ml-2">
                <%= @current_user.handle %>
              </span>
            </a>
            <% else %>
            <%= @current_user.handle %>
            <%= link "GitHub Login", to: Routes.auth_path(@conn, :request, "github"), class: "btn btn-primary text-uppercase" %>
            <% end %>
          </section>
        </header>
      </div>
    </div>
    <main>
      <div class="container grid-xl">
        <div class="columns">
          <div class="column col-6 col-mx-auto">
            <%= if error = get_flash(@conn, :error)  do %>
            <div class="toast toast-error">
              <%= error %>
            </div>
            <% end %>
            <%= if info = get_flash(@conn, :info)  do %>
            <div class="toast toast-success">
              <%= info %>
            </div>
            <% end %>
          </div>
        </div>
        <div class="mt-2">
          <%= render @view_module, @view_template, assigns %>
        </div>
      </div>
    </main>
  </div>
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>
    ">
  </script>
</body>

</html>
